{{> head}}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>ABOUT PAGE</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, mollitia. Accusamus reprehenderit eos ad quisquam molestiae earum quia rem blanditiis laudantium, aspernatur a incidunt laboriosam voluptatum, accusantium quo? Odio, dolore.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
        </div>
        
        
    
    
    </div>
    
{{> footer }}
